h1,
h2 {
  text-align: center;
}

p {
  padding-left: 20px;
}

td {
  padding: 0 10px;
}

.english__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 900px) {
  .wrapper {
    width: 700px;
    margin: 20px auto 40px;
  }
}
